.graph-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

label[for="date-select"] {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  color: #444;
}

#date-select {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #f2f2f2;
  color: #777;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#date-select:focus {
  outline: none;
  background-color: #ddd;
}

.chart {
  width: 100%;
  max-width: 800px;
  margin: 30px;
}

canvas {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.subitem {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.label {
  font-size: 16px;
  color: #555;
}
